@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --main-bg-color: #3F2559;
  --third-bg-color: #160d20;
  --second-bg-color: #8D33A6;
}

body{
  margin: 0;
  padding: 0;
  background: var(--third-bg-color);
}

section{
  height: 100vh;
}


body::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);    /* color of the scroll thumb */
  border-radius: 0;       /* roundness of the scroll thumb */
}
